@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(30, 0, 71);
  color: white;
  
  /* colors */
  --blue: #1a74df;
  
  /* font sizes */
  --big-heading: clamp(80px, 10vw, 200px);
  --subheading: clamp(50px, 6vw, 100px);
  --bigger-text: clamp(20px, 2vw, 45px);
  --slightly-bigger-text: clamp(15px, 2vw, 30px);
  --text: clamp(12px, 1.5vw, 20px);
  --smallest-text: clamp(12px, 1vw, 18px);
  
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--opensans), sans-serif;
  overflow-x: hidden;
}

#hero-background{
  display: block;
  opacity: 1;
  position: fixed;
  z-index: 0;
  margin: 0;
  object-fit: cover;
  width: 100vw;
  height: 100%;

  @media (max-width: 600px) {
    display: none;
  }
}

@keyframes translateXToLeft {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }

  50% {
    opacity: 0;
    transform: translateX(40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes translateXToRight {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }

  50% {
    opacity: 0;
    transform: translateX(-40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes translateYDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  50% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


@keyframes fadeInDelay {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes audioOpen {
  0% {
    transform: translateX(600px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes audioClose {
  0% {
    transform: translateX(-600px);
  }

  100% {
    transform: translateX(0px);
  }
}  

@keyframes creditOpen {
  0% {
    transform: translateX(600px);
    @media (max-width: 600px) {
      transform: translateX(100vw);
    }
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes creditClose {
  0% {
    transform: translateX(-600px);
    @media (max-width: 600px) {
      transform: translateX(-100vw);
    }
  }

  100% {
    transform: translateX(0px);
  }
}  